body
{
	margin: 0;
	padding: 0;
	background-color: #333;
}

.eye
{
	width: 200px;
	height: 200px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
	border-radius: 75% 0;
	overflow: hidden;
}

.ball
{
	width: 40px;
	height: 40px;
	background: #222f3e;
	border-radius: 50%;
	border: 30px solid #576574;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.shut
{
	width: 300px;
	height: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
	z-index: 999;
}